<ion-toolbar no-lines>
    <button detail-none class="home-button" [ngClass]="{'active': homeButton.component == current}" (click)="openPage(homeButton)">
        <ezoom-svg [file]="homeButton.icon"></ezoom-svg>
    </button>
    <div class="buttons">
        <button ion-item detail-none [disabled]="tab.component.length == 0" *ngFor="let tab of tabs" ngClass="{{tab.component == current ? 'active' : ''}} {{tab.classes}}" (click)="openPage(tab)">
            <ezoom-svg [file]="tab.icon"></ezoom-svg>
        </button>
    </div>
</ion-toolbar>