$rubik-font-path: $font-path !default;

@font-face {
    font-family: 'rubiklight';
    src: url("#{$rubik-font-path}/Rubik-Light.woff2") format("woff2"), url("#{$rubik-font-path}/Rubik-Light.woff") format("woff"), url("#{$rubik-font-path}/Rubik-Light.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'rubikregular';
    src: url("#{$rubik-font-path}/Rubik-Regular.woff2") format("woff2"), url("#{$rubik-font-path}/Rubik-Regular.woff") format("woff"), url("#{$rubik-font-path}/Rubik-Regular.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'rubikitalic';
    src: url("#{$rubik-font-path}/Rubik-Italic.woff2") format("woff2"), url("#{$rubik-font-path}/Rubik-Italic.woff") format("woff"), url("#{$rubik-font-path}/Rubik-Italic.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'rubikmedium';
    src: url("#{$rubik-font-path}/Rubik-Medium.woff2") format("woff2"), url("#{$rubik-font-path}/Rubik-Medium.woff") format("woff"), url("#{$rubik-font-path}/Rubik-Medium.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'rubikbold';
    src: url("#{$rubik-font-path}/Rubik-Bold.woff2") format("woff2"), url("#{$rubik-font-path}/Rubik-Bold.woff") format("woff"), url("#{$rubik-font-path}/Rubik-Bold.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'rubikblack';
    src: url("#{$rubik-font-path}/Rubik-Black.woff2") format("woff2"), url("#{$rubik-font-path}/Rubik-Black.woff") format("woff"), url("#{$rubik-font-path}/Rubik-Black.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}