// File for common styles
//* ------------- Page UI ------------- ?//
h6 {
    font-family: 'rubikbold';
    margin: 18px 0;
    text-align: center;
}

.page-content {
    display: flex;
    flex-flow: column;
    min-height: 100%;
    padding: 20px 45px;
    margin-bottom: 15px;
}
p {
    margin-top: 0;
    text-align: center;
    font-size: 1.3rem;
    color: color($colors, light);
}

//? ------------- Buttons ------------- ?//
button {
    &.button {
        position: relative;
        text-overflow: unset;
        border-radius: 10rem;
        width: 100%;
        height: 4rem;
        box-shadow: 0 3px 10px fade-out(#000000, 0.84);
        margin: 0;
        margin-bottom: 10px;


        .button-inner {
            font-family: 'rubikbold';
            padding: 12px;
            font-size: 1.3rem;

            @media (max-width: $max-xs) {
                font-size: 1.1rem;
                padding: 10px;
            }

            .addon {
                display: flex;
                justify-content: center;
                align-items: center;
                width: 18.5px;
                height: 18.5px;
                background-color: color($colors, secondary);
                margin: 0;
                border-radius: 10rem;
                margin-right: 10px;

                ezoom-svg {
                    display: flex;
                    justify-content: center;
                    align-items: center;

                    svg {
                        width: 8px;
                        height: 8px;
                        fill: color($colors, white);
                    }
                }

                @media (max-width: $max-xs) {
                    width: 16px;
                    height: 16px;
                                        
                    ezoom-svg {
                        svg {
                            width: 6px;
                            height: 6px;
                        }
                    }
                }
            }
        }
    }
}
//? --- ?//

//! ------------- Forms ------------- !//
.input-group {
    display: flex;
    position: relative;
    padding: 0;
    margin-bottom: 10px;    
    flex-flow: column;
    justify-content: center;
    align-items: flex-start;
    padding: 12px 20px;
    border: 1px solid color($colors, light);
    border-radius: 100rem;

    &.textarea {
        border-radius: 7px;
    }
    
    ion-label {
        &.label {
            font-size: 1rem;
            text-transform: uppercase;
            margin: 0;
            margin-bottom: 5px;
        }
    }

    ion-input {
        &.input {
            input {
                position: unset;
                margin: 0;
                font-size: 1.2rem;
                font-family: 'rubikbold';
                color: color($colors, secondary);
                text-transform: uppercase;
            }

            .input-cover {
                display: none;
            }
        }
    }

    ion-textarea {
        &.input {

            &.cloned-input {
                margin: 0;
            }

            textarea {
                margin: 0;
                width: 100%;
                height: 90px;
                font-size: 1.2rem;
                font-family: 'rubikbold';
                color: color($colors, secondary);
            }
        }
    }

    ion-select {
        &.select {
            padding: 0;
            width: 100%;
            max-width: unset;

            .select-text {
                font-size: 1.2rem;
                font-family: 'rubikbold';
                color: color($colors, secondary);
            }

            .select-icon {
                display: none;
            }
        }
    }

    .icon {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        right: 20px;

        svg {
            fill: color($colors, light);
        }
    }

    .addon {
        position: absolute;
        top: 50%;
        right: 15px;
        transform: translateY(-50%);
        width: 28px;
        height: 28px;
        margin: 0;

        .button-inner {
            padding: 0;

            ezoom-svg {
                @media (max-width: $max-xs) {
                    height: 9px;
                    width: 9px;
                }

                svg {
                    fill: color($colors, white);
                    width: 9px;
                    height: 9px;
                }
            }            
        }
    }
}
//! --- !//