// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/theming/

// Assets Path
$font-path: "../assets/fonts";
$img-path: "../assets/img/";
$svg-path: "../assets/svg/";

// Colors
$colors: (
    primary: #294D77,
    secondary: #008FD2,
    white: #FFFFFF,
    light: #D3D3D3,
    black: #333333
);

// Breakpoints
$max-xs: 320px;

@import "rubik";
